<!DOCTYPE html>
{%- if not (page_title is defined) -%}
	{%- set page_title = 'Page' -%}
{%- endif %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	{%- if error_code is defined %}
		<title>{{ title }} - {{ page_title }}: {{ error_code }}</title>
		<meta name="title" content="{{ title }} - {{ page_title }}: {{ error_code }}" />
	{%- else %}
		<title>{{ title }} - {{ page_title }}</title>
		<meta name="title" content="{{ title }} - {{ page_title }}" />
	{%- endif %}
	<meta name="referrer" content="strict-origin" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval'" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico', _external=True) }}" type="image/x-icon" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css', _external=True) }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.5.1.3.min.css', _external=True) }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/main-script.min.js', _external=True) }}" defer=""></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/popper.2.10.2.min.js', _external=True) }}" defer=""></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.5.1.3.min.js', _external=True) }}" defer=""></script>
	{%- block page_head_content -%}{%- endblock %}
</head>
<body id="body" class="dark-theme">
	<div class="container-fluid my-2">
		<div class="container-fluid text-center position-relative">
			{%- if title is defined -%}
				<h1 id="page-title" class="text-center display-3 mb-3">{{ title|safe }}</h1>
			{%- else -%}
				<h1 id="page-title" class="text-center display-3 mb-3">{{ page_title }}</h1>
			{%- endif -%}
			<div class="position-absolute top-0 end-0">
				<button type="button" id="theme-button" class="btn btn-outline-warning">
					<i class="icon icon-sun"></i>
					<i class="icon icon-moon"></i>
				</button>
			</div>
		</div>
		<div class="container-fluid text-center">
			<div class="btn-group" role="group">
				<a
					class="btn {% if request.endpoint == 'view.index' %}btn-primary{% else %}btn-outline-primary{% endif %}"
					rel="noopener nofollow noindex"
					target="_self"
					href="{{ url_for('view.index', _external=True) }}"
				>Home</a>
				<a
					class="btn {% if request.endpoint == 'view.page_data' %}btn-primary{% else %}btn-outline-primary{% endif %}"
					rel="noopener nofollow noindex"
					target="_self"
					href="{{ url_for('view.page_data', _external=True) }}"
				>Data</a>
			</div>
		</div>
		{%- block page_body_content -%}{%- endblock -%}
	</div>
</body>
</html>
