{%- extends 'base.html' -%}

{# ----------------------------
Bootstrap DOCs: https://getbootstrap.com/docs/5.1/getting-started/
#}

{# ---------------------------- #}
{%- block page_body_content -%}
	<div class="row my-3 px-3">
		<div class="col col-12">
			<p class="fs-5">A simple <strong>Flask</strong> website with <strong>Bootstrap</strong> in <strong>Jinja</strong> HTML templates for <strong>Pandas</strong> python module demonstration.</p>
		</div>
		<div class="col col-12 col-xl-3 col-lg-4 col-md-6">
			<div class="list-group">
				<a
					class="list-group-item list-group-item-action list-group-item-info"
					rel="noopener nofollow noindex"
					target="_blank"
					href="https://github.com/kenny-kvibe/flask-pandas-app"
				>Github Repository: <strong>flask-pandas-app</strong></li>
				</a><a
					class="list-group-item list-group-item-action list-group-item-primary"
					rel="noopener nofollow noindex"
					target="_blank"
					href="https://getbootstrap.com/docs/5.1"
				>Documentation: <strong>Bootstrap</strong></li>
				</a>
				<a
					class="list-group-item list-group-item-action list-group-item-primary"
					rel="noopener nofollow noindex"
					target="_blank"
					href="https://flask.palletsprojects.com/"
				>Documentation: <strong>Flask</strong></li>
				</a>
				<a
					class="list-group-item list-group-item-action list-group-item-primary"
					rel="noopener nofollow noindex"
					target="_blank"
					href="https://jinja.palletsprojects.com/"
				>Documentation: <strong>Jinja</strong></li>
				</a>
				<a
					class="list-group-item list-group-item-action list-group-item-primary"
					rel="noopener nofollow noindex"
					target="_blank"
					href="https://pandas.pydata.org/"
				>Documentation: <strong>Pandas</strong></li>
				</a>
			</div>
		</div>
	</div>
{%- endblock -%}
